@tailwind base;
@tailwind components;
@tailwind utilities;

p.textmessage {
    padding: 0.3rem;
}

.microphone-svgXXX {
    margin: 0.5rem;
    /* border-radius: 50%; */
    /*width: 60px;
    height: 60px; */
    /* padding: 6px;     */
}


.microphone-svg-container {
  position: relative;
}


.microphone-level-inside-gray {
    position: absolute;
    bottom: 0;
    left: 25%; 
    width: 50%;
    height: 0%;
    background-color: rgba(128,128,128,0.5); 
}


.microphone-level-inside {
    position: absolute;
    bottom: 35%;
    left: 30%; 
    width: 40%;
    height: 0%;
    background-color: rgba(0,0,0,1.0); 
}


.microphone-level {
    border: 1px black solid;
    position: absolute;
    bottom: 0;
    width: 30%;
    height: 100%;
    clip-rect: xywh(0 100% 100% 0);
    
    background-image:  linear-gradient(to top, lightgreen, lightgreen, red); 
    /*background-color:  rgba(220,10,10,1); */
}


.microphone-level-left {
    left: -60%;
    display: none;
}



.microphone-level-right {
    right: -60%; 
    display: none;
}

.listenButton {
  padding: 6px 12px;
  background-color: #2d6cdf;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.listenButton:hover {
  background-color: #1f56b3;
}
/*
.audio-spectrum-visualizer {
    background-color: white;
}
*/

